/* Write your CSS here */
.bg-container-not-found {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-not-found {
  color: #ffffff;
  font-size: 30px;
}
